@media (max-width:992px) {
	.navbar-toggler {
		margin-top:-6px;
	}
	.navbar-nav {
		margin-top:10px;
	}
	.main-menu ul li {
		padding: 5px 15px;
	}
	.icon-area ul li {
		display:inline-block;
		padding:3px 5px;
	}
	.hero-text {
		float:;
	}
	.feature-item { 
		margin-bottom:10px;
	}
	.blog-comments {
		margin-bottom:20px;		
	}
	.follower {
		margin-bottom:15px;
	}	

}
@media all and (max-width:767px) {
	.hero-text .hero-left {
		padding: 60px 0;
	}
	.cta-img {
		height: 400px;
	}
	.cta-text {
		padding: 60px 0;
	}
	.cta-text h2 {
		font-size: 80px;
	}
	.featured-title h2, .popular-title h2, .trending-title h2 {
		margin-bottom: 40px;
	}
	.journal-title {
		margin-bottom: 40px;
	}
	.journal-area {
		padding-top: 0px;
	}
}
@media all and (max-width:575px) {
	.portfolio-item {
		height:400px;		
	}
}